@charset "utf-8";

body {
    padding: 70px 0 0;
}

.timeline-header  {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#666),
        to(#333)
    );
    color: #fff;
}
